<mat-toolbar>
  <mat-toolbar-row>
    <span > Hexadigi</span>
    <span class="example-spacer"></span>
    <span routerLink='/' ><mat-icon>home</mat-icon></span> 
  </mat-toolbar-row>
</mat-toolbar>
<br>

<mat-card *ngIf="succes" class="example-card">
  <mat-card-content>
    <h3 style="color: lightgreen" > your message send sucessfull..!</h3>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="show" class="example-card">
  <mat-card-header>
    <mat-card-title>Message</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-form">
      <form >
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Message.." name="msg" required #message maxlength="256" rows="6" required></textarea>
          <mat-hint align="start"><strong>this msg will be secret.</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
        <br>
        <button mat-raised-button color='primary' (click)='share(message.value)'>
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <p>Create your message box through login by Google.
    and shareable link will be given that you can share to your loved one to get there secret message.</p>
</mat-card>
<br><br>
<a mat-raised-button routerLink='/' color='primary'>lets start</a>